/* Padding to make room for nav */
body {
  padding-top: 50px;
  background-color: rgb(252, 252, 252);
  background-image:url("../img/img-noise-300x400_9.png");
}

.navbar {
  background-color: #8EB6FF;
}

.navbar-nav>.open>a,
.navbar-nav>.open>a:hover {
  background-color: #8EB6FF;
}

.navbar-nav>li>a, a.navbar-brand {
  color: #444;
}

.navbar-nav>li>a:hover, a.navbar-brand:hover {
  color: #222;
}

h1, h2, h3, h4 {
  color: #4F5C75 !important;
}

.anchor {
  position: relative;
  top: -50px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Jumbotron */
.jumbotron {
  text-align: center;
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.jumbotron h1 {
  margin-top: 0px;
  padding-top: 0px;
}

#course-map {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #8EB6FF;
  color: #1b1b1b;
  width: 100%;
}

#footer-quote {
  text-align: center;
  margin-bottom: 30px;
}
