.anchor {
  padding-top: 60px !important;
  margin-top: -60px !important;
}

#map {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#map iframe, #kids iframe {
	border: 2px solid #6FB3AA;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(176,176,176,1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(176,176,176,1);
	box-shadow: 3px 3px 5px 0px rgba(176,176,176,1);
}

table thead {
  border-bottom: 1px solid black;
  text-align: left;
}

.button.special {
	padding-left: 10px;
	padding-right: 10px;
}

section#quote {
	padding: 0em 6em;
	margin-bottom: 0em;
}

footer#footer {
	padding-bottom: 0px;
}


#header nav ul li a {
	color: rgb(84, 88, 89) !important;
	padding: 0px 1px !important;
}
