---
layout: default
---
<h2>{{ page.title }}</h2>

{% assign main_pages = ["index.html", "/photos.html"] %}

<div class="page">
    <nav>
        <a href="/index.html">Home</a>
        <a href="/2013-race-information.html">2013 Race Information</a>
        <a href="/course-map.html">Course Map</a>
        <a href="/kids-one-fifth-mile-sprint.html">Kids 1/5 Mile Dash</a>
        <a href="/race-results.html">Race Results</a>
        <a href="/division-winners.html">Division Winners</a>
        <a href="/photos.html">Photos</a>
        <a href="/race-quotes.html">Race Quotes</a>
        <a href=""></a>
        {{ main_pages }}
        {{ page.url }}
        {% for node in site.main_pages %}
            {% if page.url == node.url %}
                <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            {% else %}
                <li><a href="{{node.url}}">{{node.title}}</a></li>
            {% endif %}
        {% endfor %}
    </nav>
    {{ content }}
</div>
